body {
  height: 100vh;
  width: 100%;
  font-family: Roboto;
}
.my-app {
  width: 100%;
  height: 100%;
}
.app-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  /* justify-content: space-evenly; */
  margin: 0.1em;
}
.list {
  /* background-color: red; */
  width: 16%;
  padding: 0.3em;
  margin-right: 0.1em;
  align-items: start;
  border-radius: 20px;
}
.search {
  background-color: #e5e4e2;
  width: 90%;
  padding: 2em;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}
.search-bar {
  width: 75%; /* Set width to 100% for responsiveness */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.results {
  margin: 0.5em;
  max-height: 90%;
  overflow: scroll;
  border-radius: 20px;
  padding: 0.5em;
}
.search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.serach-element {
  width: 50%;
}
.search-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fe7a36;
  color: white;
  transition: 0.3s;
}
.search-button:hover {
  background-color: white;
  color: black;
}
@media all and (max-width: 750) {
  .serach-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
.chatbot-btn {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fe7a36;
  color: white;
  transition: 0.3s;
  border-radius: 50%;
  position: relative;
  right: -96vw;
  transition: 0.2s;
}
.chatbot-area {
  display: flex;
  flex-direction: row;
  align-items: end;
  position: sticky;
  bottom: 0;
  padding: 0.5em;
  box-sizing: border-box;
}
.chatbot-btn:hover {
  transform: scale(1.18);
}
.nav-container1 {
  background-color: white;
  position: sticky;
  top: 0;
  /* width: 100%; */
}
@media all and (max-width: 1000px) {
  .list {
    display: none;
  }
}
@media all and (max-width: 650px) {
  .serach-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 1000px) {
  .search {
    width: 100%;
    height: 100%;
  }
}
@media all and (max-width: 650px) {
  .chatbot-btn {
    right: -87vw;
  }
}
@media all and (max-width: 650px) {
  .search-bar {
    width: 150%;
  }
}
